.hero_section {
  text-align: center;
  padding: 6rem;
  background: url("../../../public/background.jpg") center/cover;
  color: #ffffff;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.hero_overlay {
  background: rgba(52, 152, 219, 0.7);
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.hero_title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero_description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.featured_products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.featured_product {
  flex: 0 0 calc(45% - 1rem);
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

.featured_product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.featured_product_image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.featured_product_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.featured_product_description {
  color: #2e2e2e;
  margin-bottom: 1rem;
}

.product_details {
  display: flex;
  justify-content: space-between;
}

.product_price {
  font-size: 1.2rem;
  color: #e74c3c;
}

.product_rating {
  font-size: 1.2rem;
  color: #f39c12;
}

.shop_now_button {
  background-color: #e74c3c;
  color: #ffffff;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.shop_now_button:hover {
  background-color: #c0392b;
}

@media (max-width: 1200px) {
  .hero_section {
    padding: 4rem;
  }

  .featured_product {
    flex: 0 0 calc(50% - 1rem);
  }
}

@media (max-width: 768px) {
  .hero_section {
    padding: 3rem;
  }

  .featured_product {
    flex: 0 0 100%;
  }
}
